body {
    background-image: url('../images/stars.jpg');
    font-family: 'Press Start 2P', sans-serif;
}

.landing-page {

    .title-box{
        text-align: center;
        padding-top: 7rem;
        color: white;
    }

    .login-box {
        color:white;
    }
}