.map{
    background-image: url('../images/planets1.jpg');
    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    height: 90vh;
    // width: 100vw;
    overflow: hidden;
}